<ion-header [translucent] ="true">
    <ion-toolbar>
    <ion-title>
    Blank
    </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list> 
            <ion-item  *ngFor="let urun of urunler"(click)="detayGoster()">
            | <ion-label>{{urun.ad}} - {{urun.adet}}</ion-label>
            </ion-item>
            </ion-List>



    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="yenikayit()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
 
      </ion-fab>
    </ion-content>
